
@model SalesManagement.UI.ViewModel.SalesRepresentativeViewModel
@{

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Sales Representative</h2>

@using (Html.BeginForm("Edit", "SalesRepresentative"))
{
<div class="form-group">
    @Html.LabelFor(m => m.SalesRepresentative.Name)
    @Html.TextBoxFor(m => m.SalesRepresentative.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SalesRepresentative.Name)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.SalesRepresentative.Email)
    @Html.TextBoxFor(m => m.SalesRepresentative.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SalesRepresentative.Email)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.SalesRepresentative.TelephoneNumber)
    @Html.TextBoxFor(m => m.SalesRepresentative.TelephoneNumber, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SalesRepresentative.TelephoneNumber)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.SalesRepresentative.JoinedDate)
    @Html.TextBoxFor(m => m.SalesRepresentative.JoinedDate, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SalesRepresentative.JoinedDate)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.SalesRepresentative.WorkRouteId)
    @Html.DropDownListFor(m => m.SalesRepresentative.WorkRouteId, new SelectList(Model.workRoutes, "Id", "Name"), "Select", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SalesRepresentative.JoinedDate)
</div>

    <div class="form-group">
        @Html.LabelFor(m => m.SalesRepresentative.Comment)
        @Html.TextBoxFor(m => m.SalesRepresentative.Comment, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.SalesRepresentative.Id)

    <button type="submit" class="btn btn-success">Update</button>

    <a type="button" class="btn btn-primary" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-list"></span>
        <span>Back To List</span>
    </a>


}

